$yellow: #f3ffe3;

body {
	background-image: url(images/pattern.png);
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color: $yellow;
}

h1, h2, h3, h4 {
	font-weight: 700;
	font-style: italic;
}

input[type=search] {
	background-color: rgba(0, 0, 0, 0.5);
}