$yellow: #e5d7b9;
$red: #7f3a2b;
$green: #6f795d;
$cardWidth: 640px;
$black: #010;
$gold: #daa520;

@mixin shadow() {
    box-shadow:  0.15rem 0.15rem 0.3rem transparentize($black, 0.7);
}

* {
    box-sizing: border-box;

    *:before, *:after {
        box-sizing: inherit;
    }
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 80%;
    background-image: url(../images/leather.jpg);
    background-size: 640px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1rem 0;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1, h2, h3, h4 {
    font-weight: 700;
    font-style: italic;
}

header {
    padding: 1rem;

    img {
        display: block;
        max-width: 220px;
    }

    small {
        color: $green;
        font-size: 1rem;
        font-variant: small-caps;
        letter-spacing: 0.22rem;
        text-shadow: 0.1rem 0.1rem 0.1rem transparentize($black, 0.2);
    }

    nav {
        position: fixed;
        top: 1rem;
        right: 1rem;

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }
}

footer {
    color: $green;
    padding: 2rem;
    text-align: center;
    font-size: 0.6rem;
}

#app {
    display: flex;
    flex-direction: column;
}

button {
    background-image: url(../images/button.png);
    background-size: cover;
    background-position: center;
    border: 2px solid $yellow;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    color: $yellow;
    font-size: 1.5rem;
    line-height: 1;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    font-family: inherit;
    @include shadow();

    &.add-card {
    }

    &.remove-card {
    }
}

.panel {
    background-color: $black;
    color: $yellow;
    padding: 1.4rem 1.7rem;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0.15rem 0.15rem 0.3rem transparentize($black, 0.7),
        inset 0px 0px 0px 0.7rem $black,
        inset 0px 0px 0px 0.8rem transparentize($gold, 0.2);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

.card {
    flex: 1 1 280px;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
    background-color: $yellow;
    background:
        linear-gradient(135deg, transparent 10px, $yellow 0) top left,
        linear-gradient(225deg, transparent 10px, $yellow 0) top right,
        linear-gradient(315deg, transparent 10px, $yellow 0) bottom right,
        linear-gradient(45deg,  transparent 10px, $yellow 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    background-image:
        radial-gradient(circle at 0 0, transparentize($yellow, 1) 15px, $yellow 15px),
        radial-gradient(circle at 100% 0, transparentize($yellow, 1) 15px, $yellow 15px),
        radial-gradient(circle at 100% 100%, transparentize($yellow, 1) 15px, $yellow 15px),
        radial-gradient(circle at 0 100%, transparentize($yellow, 1) 15px, $yellow 15px);

    .card-header {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        & > :first-child {
            flex: 1;
            margin-right: 1rem;
        }
    }

    fieldset {
        border-style: solid;
        border-width: 2px;
        border-color: $red;
        border-radius: 0.25rem;
        padding: 1rem;
    }

    legend {
        text-align: center;
        padding: 0 1rem;
    }

    h2 {
        margin: 0;
        color: $red;
        font-size: 1.1rem;

        small {
            font-size: 0.9rem;
        }
    }

    .line {
        display: flex;
        margin-top: 1rem;

        & > :first-child {
            width: 4rem;
        }

        & > :nth-child(2) {
            flex: 1;
        }
    }
}

.v-select {
    width: 100%;

    .dropdown-toggle {
        background: url(../images/bg_pattern.jpg) !important;
        background-size: 600px !important;
        display: flex !important;
    }

    .selected-tag {
        flex: 1 0 auto !important;
        float: none !important;
    }
}
